<link rel="stylesheet" href="{$root}/node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{$root}/node_modules/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="{$root}/node_modules/Ionicons/dist/css/ionicons.min.css">
<link rel="stylesheet" href="{$root}/assets/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="{$root}/node_modules/select2/dist/css/select2.min.css">
<link rel="stylesheet" href='{$root}/node_modules/toastr/build/toastr.min.css' rel='stylesheet' type='text/css'/>
<link rel="stylesheet" href="{$root}/assets/dist/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="{$root}/assets/css/css.css">